#!/bin/bash

set -x

if timeout 10 docker ps > /dev/null; then
    exit 0
fi

echo "docker failed"
echo "Giving docker 30 seconds grace before restarting"
sleep 30

if timeout 10 docker ps > /dev/null; then
    echo "docker recovered"
    exit 0
fi

echo "docker still down; triggering docker restart"
systemctl restart containerd docker

echo "Waiting 60 seconds to give docker time to start"
sleep 60

if timeout 10 docker ps > /dev/null; then
    echo "docker recovered"
    exit 0
fi

echo "docker still failing"
